# Vagrant
/.vagrant/
/*.log

# Project
/config/box.yaml

/config/settings-php71.yaml
/config/settings-php70.yaml
/config/settings-php56.yaml
/config/settings-php55.yaml
/config/settings-php54.yaml
/config/settings-php53.yaml
/config/settings-php52.yaml

!.gitkeep
